
.operation{
    display: grid;
    grid-template-columns: 2fr 1fr .5fr;
    grid-column-gap: 1vw;
    text-align: center;
}
.calcHead{
    display: inline-block;
    text-align: center;
}
.text{
    text-align: center;
}
