
.exchange{

    border: 1px solid #eeeee8;
    padding: 1vw 0 1vw 0;
    background: linear-gradient(#e66465, #e58e00);

}
.text{
    text-align: center;
    text-decoration: black;
    font-family: "Heebo", sans-serif;
}



.exchangeContainer{
    width: 90%;
    margin: 0 auto;
}

.exchangeHead{
    font-weight: bold;
    padding: 1vw;
}

.exchangeContent{


    ul{
        list-style: none;
        margin: 0;
        padding: 0;

        li{
            padding-left: 25%;
            border-bottom: 1px solid #BFC4CD;
            display: block;
            margin: .5vw auto .5vw auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            

            img{
                width: 20px;
                height: 15px;
            }
        }
    }
}
